.section3{
    position: relative;
    margin-left:40px;
    
}
.section__render22{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    margin-top: 300px;
    gap: 105px;
    
}
.render2__img{
    border-radius: 15px;
}